# OS & IDE
.DS_Store
.idea/
.claude/

# Python
__pycache__/

# Machine Learning / Tracking
mlartifacts/
mlruns*/
wandb/

# Logs & Outputs
*.log
logs/
run_logs/
experiments_logs/
output.png

# Data & Plots
*.csv
plots_and_csv/
images/
media/
DAAN/
ACON/

# Notebooks & shell scripts
*.ipynb
*.sh
