# OS & IDE
.DS_Store
.idea/

# Python
__pycache__/

# Machine Learning / Tracking (These caused the hang!)
mlartifacts/
mlruns/
mlruns_hparamseed/
wandb/

# Logs & Outputs
*.log
logs/
experiments_logs/
run_logs/

# Data & Plots 
*.csv
plots_and_csv/
images/
media/
output.png
DAAN/
ACON/
mlexplain.ipynb
new.ipynb
new2.ipynb
run_experiments.sh
yo.ipynb
dataloader/dataloader_backup.py
dataloader_backup_new.py
trainers/abstract_trainer_backup.py
trainers/abstract_trainer_backup_new.py
trainers/train_backpu.py
trainers/tryingout.ipynb
